@import '../../../style/mixins/mixins';
@import '../../../style/var/head';

$skiner-action-height: 32px;
$skiner-cycle-height: 20px;

@include b(skiner) {
  i {
    width: $--head-icon-size;
    height: $--head-icon-size;
    line-height: $--head-icon-size;
    font-size: $--head-icon-size;
    color: $--head-icon-color;
    cursor: pointer;

  }
}

@include b(skiner__container) {
  position: relative;
  width: 182px;
  p {
    font-size: 12px;
    color: #999;
    margin-bottom: 2px;
  }
  ul {
    height: $skiner-action-height;
    li.theme-cycle {
      width: $skiner-cycle-height;
      height: $skiner-cycle-height;
      line-height: $skiner-cycle-height;
      border-radius: 50%;
      margin-top: ($skiner-action-height - $skiner-cycle-height)/2;
      margin-right: $skiner-cycle-height/2;
      text-align: center;
      cursor: pointer;
      i {
        color: #fff;
        font-weight: bold;
        padding: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
