@import '../../../style/mixins/mixins';
@import 'transition/index';
@import '../../../style/config/var';

$--slipDialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;

@include b(slip-dialog__modal) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  z-index: 1503;
}

@include b(slip-dialog) {
  position: fixed;
  overflow: auto;
  background: #fff;
  border-radius: $--border-radius-small;
  box-shadow: $--slipDialog-box-shadow;
  z-index: 1501;
  &.is-modal {
    z-index: 1504;
  }
  @include e(container) {
    position: relative;
    height: 100%;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
  }
}
