@import '../../../style/mixins/mixins';

$panel-page_back_color: #ebedef; //分页模块背景颜色
$grid_border_color: #e8e8e8; //表格边框颜色
$grid-cell-base_height: 28px;

//分页模块
@include b(pagination) {
  z-index: 99;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: $grid-cell-base_height;
  padding: 5px;

  //padding: 5px;
  //background-color: $panel-page_back_color;
  //border-left: 1px solid $grid_border_color;
  //border-right: 1px solid $grid_border_color;

  span.panel-pre__text {
    font-size: 13px;
    color: #606266;
    font-weight: 400;
    vertical-align: top;
  }

  .el-pagination {
    height: $grid-cell-base_height;
    line-height: $grid-cell-base_height;
    padding-top: 0;
    padding-bottom: 0;

    span.el-pagination__total {
      display: none;
    }
  }

  //button.panel-po_btn {
  //  margin-left: 5px;
  //}
}
