@import "../mixins";
/* animation name*/
$animation: 'fade-up-down';

/* target postion */
$enter_duration: .5s;
$leave_duration: .5s;
/* target postion */
$t_postion: -50px;

//注意变量$frameName定义之后，及时引用，不然第二次调用@include keyframes后，$frameName变量会再次赋值
@include keyframes($animation, 'in') {
  0% {
    transform: translate3d(0, $t_postion, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@include n($animation, 'enter-active') {
  animation: $frameName $enter_duration;

}

@include keyframes($animation, 'out') {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, $t_postion, 0);
    opacity: 0;
  }
}

@include n($animation, 'leave-active') {
  animation: $frameName $leave_duration;
}
