@import '../../../style/mixins/mixins';
$tabsHeight: 40px; //tabs normal height
$tabsMl: 6px; //向左偏移值
$normalColor: #d1e3f8;
$activeColor: #0a7af8;

@mixin triangle($color) {
  content: '';
  display: block;
  border-top: $tabsHeight/2 solid transparent;
  border-bottom: $tabsHeight/2 solid transparent;
  border-left: $tabsHeight/2 solid $color;
  position: absolute;
  right: -$tabsHeight/2;
  top: 0;
  z-index: 10;
}

@mixin blankTriangle($color) {
  content: '';
  display: block;
  border-top: $tabsHeight/2 solid $color;
  border-bottom: $tabsHeight/2 solid $color;
  border-left: $tabsHeight/2 solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}

@include b(tabs) {
  &.arrowTabs {
    width: inherit;
    .el-tabs__header {
      border: none;
    }
    .el-tabs__nav-wrap::after {
      display: none;
    }

    .el-tabs__nav {
      width: 100%;
      display: flex;
    }
    .el-tabs__item {
      flex: 1;
      height: $tabsHeight;
      border-radius: 0;
      line-height: $tabsHeight;
      text-align: center;
      user-select: none;
      margin-left: $tabsMl;
      box-sizing: border-box;
      background: $normalColor;
      position: relative;
      &:hover {
        color: inherit;
      }
      &:first-of-type {
        margin-left: 0;
      }
      &:not(:first-of-type):before {
        @include blankTriangle($normalColor);
      }

      &:not(:last-of-type):after {
        @include triangle($normalColor);
      }
      &.is-active {
        color: #fff !important;
        background: $activeColor;
        &:not(:first-of-type):before {
          @include blankTriangle($activeColor);
        }
        &:not(:last-of-type):after {
          @include triangle($activeColor);
        }
      }
    }
  }
}
