@import '../../../style/mixins/mixins';

@include b(drawer-dialog) {
  //container
  @include b(drawer-dialog__container) {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: inherit;
    z-index: 1;
  }

  &.no-header{
    color: #ff0000;
    .el-drawer__header {
      display: none;
    }
  }
}
