//input 相关样式
@import '../../../style/common/size/choosebtnsize';

@include b(checkbox) {
  @include b(checkbox__btn){
    @include button-size(checkbox__btn);
  }

  &.el-checkbox-group{
    line-height: $lineHeight;
    .el-checkbox{
      margin-left: 0;
      margin-right: $gapWidth;
    }
  }

}
