/* animation name*/
$animation: 'bouncer';

/* target postion */
$enter_duration: .5s;
$leave_duration: .5s;

@include n($animation, 'enter-active') {
  animation: bouncer-in $enter_duration;
}

@include n($animation, 'leave-active') {
  animation: bouncer-in $leave_duration reverse;
}

@keyframes bouncer-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
