$prefix: 'theme';
$theme-name: 'blue' 'green' 'red' 'purple' 'black';
$theme-head-color: #0A7AF8 #4CA770 #E24C57 #8352AF #252836;
$theme-side-color: #0A7AF8 #4CA770 #E24C57 #8352AF #0A7AF8;
//$theme-side-color: #252836 #16a79a #e2929a #9377af #0A7AF8;

@mixin n($N) {
  #layout.app-wrapper {
    &.#{$N} {
      @content;
    }
  }
}

@each $name in $theme-name {
  $N: $prefix+'-'+$name;
  $i: index($theme-name, $name);

  @include n($N) {
    #Sidebar.first-nav {
      li.first-nav-items {
        &.first-nav-active {
          background-color: nth($theme-side-color, $i);
        }
      }
    }
    .Head {
      background-color: nth($theme-head-color, $i);
    }
  }

}
