@import '../../../../style/mixins/mixins';

$prefix: 'theme';
$theme-name: 'blue' 'green' 'red' 'purple' 'black';
$theme-head-color: #0a7af8 #4ca770 #e24c57 #8352af #0a7af8; //#0a7af8
$theme-side-color: #0a7af8 #4ca770 #e24c57 #8352af #0a7af8;
//$theme-side-color: #252836 #16a79a #e2929a #9377af #0A7AF8;

@mixin n($N) {
  #layout.app-wrapper {
    &.#{$N} {
      @content;
    }
  }
}

@each $name in $theme-name {
  $N: $prefix + '-' + $name;
  $i: index($theme-name, $name);

  @include n($N) {
    #side-menu-wrapper {
      //main root node background
      .main-menu li.main-menu__item {
        &.is-active {
          background-color: nth($theme-side-color, $i);
        }
      }
      //children node background
      .menu-item .menu-node__content {
        &.is-active {
          .menu-node__label {
            background-color: nth($theme-side-color, $i);
          }
        }
      }
    }

    @include b(header) {
      background-color: nth($theme-head-color, $i);
    }
  }
}
