.el-table {
  border: 1px solid #e8e8e8 !important;
  .el-table__header {
    th {
      border-left: 1px solid #d8dade;
      background-color: #ebedef;
      color: #333;
      &:first-child {
        border-left: none
      }
    }
  }

  td {
    border-right: none;
    border-left: none;
  }
  td, th {
    height: 28px;
    max-height: 28px;
    padding: 4px 0;
    border-bottom: none;
    border-bottom: 1px solid #d8dade !important;
    box-sizing: border-box;
    .cell {
      height: inherit;
      line-height: 28px;
      font-size: 13px;
      vertical-align: middle;
      overflow: hidden;

      //字体更改
      .el-dropdown, button, span, p {
        font-size: 13px;
      }

      //表头排序icon样式更改
      .caret-wrapper {
        height: 28px;
        .sort-caret {
          &.ascending {
            top: 2px;
          }
          &.descending {
            bottom: 4px;
          }

        }
      }

      //表格操作列内容
      .el-dropdown {
        .el-dropdown-selfdefine {
          vertical-align: -1px;
        }
      }
    }
  }
  //表头最右侧滚动槽
  .el-table__fixed-right-patch {
    background-color: #ebedef;
  }

  //去除table 所有外框
  .el-table__fixed-footer-wrapper, .el-table__footer-wrapper {
    td {
      border-bottom: none;
    }
    //tbody {
    //  td:first-child, td:last-child {
    //    border-top: none;
    //  }
    //}
  }

  .el-table--border:after, .el-table--group:after {
    width: 0;
  }

  .el-table--border:after, .el-table--group:after, .el-table:before {
    background-color: transparent;
  }

  .el-table__fixed-right, .el-table__fixed {
    z-index: 999;
    background-color: #fff;
    &:before {
      //background-color: transparent;
    }
    .el-table__fixed-body-wrapper {
      .el-table__body {
        tr:last-child {
          td {
            //border-bottom: none !important;
          }
        }
      }
    }
  }
}


