//Rich Editor
@import '../../../style/mixins/mixins';
@import './editor-plugins';

@include b(editor) {
  position: relative;
  line-height: normal;

  .mce-fullscreen {
    left: 50px;
    top: 88px;
    z-index: 9999;
  }

  .tox-fullscreen {
    left: 50px;
    top: 88px;
    z-index: 9999;
  }

  //hide textarea
  .editor-textarea {
    visibility: hidden;
    z-index: -1;
  }

  //去除 品牌标志
  .mce-statusbar {
    .mce-branding {
      display: none;
    }
  }
}

//去除 报错
.mce-notification-error {
  display: none;
}

.tox-tinymce-aux {
  z-index: 3000 !important;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  width: 3em !important;
}
