@import "public";
@import "mixin";

//==========================base================================
.el-button--default {
  background: none;
  color: $--color-text-regular;
}

.el-button {
  &:hover {
    color: $--color-text-regular;
    border: 1px solid $--color-primary;
    background: $--color-white;
  }
  &.el-button--success {
    border: none;
    &:hover {
      color: $--color-success;
      border: 1px solid $--color-success;
    }
  }
}

.el-button--text {
  &:focus {
    color: $--color-primary;
    border: none;
  }
  &:hover {
    color: $--color-primary;
    border: none;
  }
  &:active {
    color: $--color-primary;
    border: none;
  }
}

.el-button.is-disabled {
  background: $--color-text-supply;
  color: $--color-white;
  border: none;
  &:focus {
    background: $--color-text-supply;
    color: $--color-white;
    border: none;
  }
  &:hover {
    background: $--color-text-supply;
    color: $--color-white;
    border: none;
  }
}

.el-button--primary {
  color: $--color-white;
  background-color: $--color-primary;
  border-color: $--color-primary;
  margin-right: 8px;
  &:hover {
    color: $--color-white;
    background-color: $--color-primary;
    border-color: $--color-primary;
    background: #0060cd;
  }
}

.el-button--primary.is-active,
.el-button--primary:active {
  background: $--color-primary-light;
  border-color: $--color-primary-light;
}

.el-button.is-active,
.el-button:active {
  border-color: $--color-primary-light;
}

//下拉按钮
.el-dropdown-selfdefine {
  font-size: 14px;
  height: 32px;
  line-height: 0.5;
  padding: 0px 16px;
  margin-right: 8px;
}

//==========================data================================
/* ===================== 分页 ==================== */
.el-pagination {
  display: inline-block;
  color: $--color-text-regular;
  //前往 ... 第x页
  .el-pagination__jump .el-input__inner {
    height: 22px;
  }
  //文字标签 共xx条/x页
  span.page {
    margin-top: -3px;
  }
  //页面数字按钮
  .el-pager li {
    border-radius: 2px;
    margin-left: 6px;
    &.active {
      background-color: $--color-primary;
      color: #FFFFFF;
      border-radius: 2px;
      border: none
    }
    &:hover {
      background-color: $--color-primary;
      color: #FFFFFF;
      border-radius: 2px;
      border: none
    }
  }
  //左箭头按钮
  .btn-prev {
    padding-right: 0px;
  }
}

/* ========================== table ============================ */
.el-table {
  @include box-sizing;
  font-size: 13px;

  th, td {
    height: 32px;
    max-height: 32px;
    padding: 4px 0;
  }

  .cell, .el-table__row .cell .td-txt {
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 32px;
    max-height: 32px;
    line-height: 32px;
  }

  //======固定列======
  .el-table__fixed {
    overflow: hidden;
  }
  .el-table__fixed-right {
    overflow: hidden;
  }
}

.el-table--border td {
  border-right: 0px;
  border-left: 0px;
}

.el-table__fixed--border td {
  //border-right: 0px;
}


//==========================form================================
/*radio*/
.el-radio__input.is-checked .el-radio__inner::after {
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.el-radio__input.is-checked.is-disabled .el-radio__inner::after {
  cursor: not-allowed;
  background-color: $--color-text-placeholder;
  box-shadow: none;
  border: none;
}

.el-radio:focus:not(.is-focus):not(:active) .el-radio__inner {
  -webkit-box-shadow: none;
  box-shadow: none
}

.el-radio__inner::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $--color-primary;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  box-shadow: none;
  transition: transform .15s cubic-bezier(.71, -.46, .88, .6)
}

//.el-radio__inner,
//.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
//  background-color: $--color-white;
//}
.el-radio__input.is-checked .el-radio__inner{
  background-color: $--color-white;
}
/*checkbox*/
.el-checkbox__inner {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}

.el-checkbox__inner::after {
  top: 1px;
  left: 4px;
}

.el-checkbox-button__inner {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 15px;
  border: 1px solid #979797;
  border-radius: 3px;
  color: $--color-text-regular;
  min-width: 88px;
  transition: all 0s cubic-bezier(.645, .045, .355, 1);
}

.el-checkbox-button__inner:hover {
  color: $--color-primary;
  border-color: $--color-primary;
}

.el-checkbox-button:first-child .el-checkbox-button__inner {
  border-left: 1px solid #979797;
  box-shadow: none;
  &:hover {
    border-color: $--color-primary;
  }
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: $--color-text-regular !important;
  border-color: $--color-primary !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background: url(../img/chioce.png) right bottom no-repeat;
}

//穿梭框

.el-transfer-panel__filter .el-input__inner {
  border-radius: 3px;
}

.el-button--primary.el-transfer__button {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  padding: 0px;
}

.el-transfer-panel__item:hover {
  background: $--background-color-base;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: $--color-text-placeholder;
}

//==========================navigation================================
/*Tabs*/
.el-tabs__item.is-active {
  color: $--color-text-primary !important;
  font-weight: bold;

}

/*下拉菜单字体*/
.el-dropdown {
  font-size: 14px;
}

/*下拉菜单内间距*/
.el-dropdown-menu {
  padding: 0px;
}

//==========================notice================================
/*message*/
.el-message {
  min-width: 380px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff !important;
  -webkit-transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, transform .4s;
  transition: opacity .3s, transform .4s, -webkit-transform .4s;
  padding: 15px 15px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.el-message--success .el-message__content {
  color: #67c23a
}

.el-message--warning {
  background-color: #fdf6ec;
  border-color: #faecd8
}

.el-message--warning .el-message__content {
  color: #e6a23c
}

.el-message--error {
  background-color: #fef0f0;
  border-color: #fde2e2
}

.el-message--error .el-message__content {
  color: #f56c6c
}

//==========================other================================
/*Popover弹框*/
.el-popover__title,
.el-popover {
  color: $--color-text-secondary;
  padding: 19px;
}

.el-select .el-input .el-input__icon,
.el-input__icon, .el-tree-node__expand-icon {
  color: $--color-text-secondary;
  border-left-color: $--color-text-secondary;
}

.el-loading-mask {
  padding-bottom: 20px;
  z-index: 1000;
}

/*dialog*/
.el-dialog {
  width: $dialog-default-width;
  //头部
  .el-dialog__header {
    padding: 15px 15px 10px 15px;
    font-size: 14px;
    background: #f2f2f2;
  }
  //头部 - 标题
  .el-dialog__title {
    color: $--color-text-primary;
    font-size: 14px;
    line-height: $dialog-line-height;
  }
  //头部 - 关闭按钮
  .el-dialog__headerbtn .el-dialog__close {
    color: $--color-text-secondary;
  }
  //内容部分
  .el-dialog__body {
    box-sizing: border-box;
    max-height: $dialog-body-max-height;
    padding: $dialog-padding-top $dialog-padding-right $dialog-padding-bottom $dialog-padding-left;
    color: $--color-text-regular;
    line-height: $dialog-line-height;
    overflow-y: auto;
  }
  //底部
  .el-dialog__footer {
    border-top: none;
    padding: 22px 42px;
  }
}
//dialog
.ns-dialog {
  &.ns-dialog-col1 {
    .el-dialog {
      width: 650px;
    }
  }

  &.ns-dialog-col2 {
    .el-dialog {
      width: 764px;
    }
  }
}

.el-dialog {
  .el-dialog__body {
    height: 550px;
    .panel-page {
      position: relative;
      padding: 8px;
      background: #fff;
    }
    .grid-body {
      position: relative;
      top: 0;
      bottom: 0;
    }
  }
}
