@import '../config';

$summary_width: 60px;
$summary_height: 32px;
$summary_fs: 12px;
//合计按钮控制部分
#action-summary {
  position: absolute;
  left: 1px;
  bottom: 1px;
  height: $summary_height;
  line-height: $summary_height;
  margin: 4px 0;
  cursor: pointer;
  background: #fff;
  z-index: 999;
  .el-dropdown-link {
    width: $summary_width;
    height: $summary_height;
    line-height: $summary_height;
    ul {
      display: inline-block;
      width: $summary_fs * 2;
      padding-left: 10px;
      li {
        width: 100%;
        line-height: 1.4;
        font-size: $summary_fs;
      }
    }
    i {
      vertical-align: 5px;
    }
  }
  span.el-dropdown-selfdefine {
    font-size: $action-summary_fs;
    margin: 0;
    padding: 0 0 0 10px;
  }
}
