@import "../config";

.error-prompt {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  z-index: 999;
  background: #fff;

  &.no-result {
    top: 40px;
  }

  .error-prompt-content {
    position: absolute;
    left: 50%;
    margin-top: $error-prompt_top;
    margin-left: -$error-prompt_baseWidth/2;
    width: $error-prompt_baseWidth;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;

    h4 {
      font-size: 14px;
      font-weight: 600;
      color: $error-prompt_color;
    }
    p {
      font-size: 13px;
      color: $error-prompt_subcolor;
    }
    p, h4 {
      margin: 6px 0;
    }
  }
}

.el-table__empty-text {
  display: none;
}
