@import "../config";

.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .table-loading {
    &.head {
      position: absolute;
      height: $head_Height;
    }
    &.body {
      position: absolute;
      top: $head_Height;
      height: calc(100% - 40px);
      //background: #0A7AF8;
    }
  }
}
