@import '../../../style/mixins/mixins';

@include b(icon-class) {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  color: #bfcbd9;
  fill: currentColor;
  overflow: hidden;
  padding: 0 5px;
}
