@mixin clearfix {
  $selector: &;
  zoom: 1;
  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }

    #{$selector}::after {
      clear: both
    }
  }
}

//@mixin clearfix() {
//  &::after {
//    content: '';
//    display: table;
//    clear: both;
//  }
//}
