//checkbox-btn  redio-btn
@import '../../config/public';
@import '../../mixins/mixins';

$size-type: 'mini' 'small' 'normal' 'medium' 'large';
$--button-padding-horizontal: 15px 15px 15px 20px 20px; // 水平
$--button-padding-vertical: 5px 7px 9px 10px 12px; // 垂直
$--button-frontsize: 12px 12px 12px 14px 14px;
$lineHeight: 26px;
$gapWidth: 26px;

@mixin button-size($block-type) {
  @each $type in $size-type {
    $size-name: $block-type + '--' + $type;
    $i: index($size-type, $type);
    $hor: nth($--button-padding-horizontal, $i);
    $ver: nth($--button-padding-vertical, $i);
    $fs: nth($--button-frontsize, $i);

    @include rb($size-name) {
      @include base-style-change($hor, $ver, $fs);
    }
  }
}

@mixin base-style-change($horizontal, $vertical,$frontsize) {
  span {
    padding: $vertical $horizontal;
    font-size: $frontsize;
  }
}

