@import '../../../style/mixins/mixins';
//上传点击框属性
$upload_width: 148px;
$upload_height: 148px;
$upload_radius: 6px;
$upload_border: 2px dashed #d9d9d9;

@include b(upload) {
  //上传点击框
  .el-upload {
    .el-upload-list--picture-card .el-upload-list__item {
      width: 100%;
      height: 100%;
    }
  }
  //单独头像
  &.ns-upload--singlePicture .el-upload {
    box-sizing: border-box;
    border: $upload_border;
    border-radius: $upload_radius;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    @include size-inherit;
    &:hover {
      border-color: #20a0ff;
    }
    svg.avatar-uploader-icon {
      color: #8c939d;
      text-align: center;
    }
    .avatar {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
