@import '/var';

//副菜单 - 实际内容递归渲染部分
.menu-item {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;

  //内容部分
  .menu-node__content {
    cursor: pointer;
    line-height: $second-nav-item-height;
    box-sizing: border-box;

    &:hover {
      background-color: #f5f5f5;
    }

    //根节点隐藏掉
    &.is-root {
      display: none;
    }

    //节点处于激活选中状态
    &.is-active {
      .menu-node__label {
        color: $first-nav-back-color-active;
      }
    }

    //图标 - 下拉箭头
    .menu-node__expand-icon {
      color: #666666;
      transition: all $transition-speed ease-in-out;
      //叶子节点隐藏掉
      &.is-leaf {
        color: transparent;
        cursor: default;
      }
      //展开状态 - 旋转90度
      &.expanded {
        transform: rotate(90deg);
      }
    }

    //显示名称部分
    .menu-node__label {
      font-size: $second-nav-font-size;
      color: $second-nav-text-color;
      cursor: pointer;
      text-indent: $second-nav-item-text-indent;
    }
  }
}
