.fastIn-slowOut-left-enter-active {
  transition: all .3s ease;
}

.fastIn-slowOut-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fastIn-slowOut-left-enter, .fastIn-slowOut-left-leave-to {
  transform: translate(-900px, 0);
  opacity: 0;
}
