@import '../../../style/mixins/mixins';

@include b(drawer) {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  //over mask
  .over-hidden {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: inherit;
  }
  //container
  @include b(drawer__container) {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: inherit;
    z-index: 1;
  }

  //switch
  @include b(drawer__switch) {
    position: absolute;
    cursor: pointer;
    transition: inherit;
    z-index: 2;
    overflow: hidden;
    i {
      font-size: 28px;
      padding: 0;
    }
  }

  //direction type
  &.to-left {
    @include b(drawer__switch) {
      width: 12px;
      height: 28px;
      right: 0;
      top: 50%;
      margin-top: -14px;
      i {
        margin-left: -8px;
      }
    }
    &.hide {
      width: 0 !important;
      padding: 0 !important;
      @include b(drawer__container) {
        visibility: hidden;
        transform: translateX(-100%);
      }
    }
  }

  &.to-right {
    float: right;
    @include b(drawer__switch) {
      width: 12px;
      height: 28px;
      left: -1px;
      top: 50%;
      margin-top: -14px;
      i {
        margin-left: -8px;
      }
    }
    &.hide {
      width: 0 !important;
      padding: 0 !important;
      @include b(drawer__container) {
        visibility: hidden;
        transform: translateX(100%);
      }
    }
  }

  &.to-top {
    @include b(drawer__switch) {
      width: 28px;
      height: 12px;
      left: 50%;
      bottom: -1px;
      margin-left: -14px;
      i {
        margin-top: -9px;
      }
    }

    &.hide {
      height: 0 !important;
      padding: 0 !important;
      @include b(drawer__container) {
        visibility: hidden;
        transform: translateY(-100%);
      }
    }
  }
  &.to-bottom {
    @include b(drawer__switch) {
      width: 28px;
      height: 12px;
      left: 50%;
      top: -1px;
      margin-left: -14px;
      i {
        margin-top: -9px;
      }
    }
    &.hide {
      @include b(drawer__container) {
        visibility: hidden;
        transform: translateY(100%);
      }
      @include b(drawer__switch) {
        top: auto;
        left: 50%;
        bottom: -10px;
        margin-left: -16px;
      }
    }
  }
}
