@import "../../../style/mixins/mixins";

/**
  * components - badge style entry
 */
@include b(avatar) {
  .avatar-cont {
    .avatar-round {
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}



