@import '../../../style/mixins/mixins';

$basesize: 200px;
/**
  * components - badge style entry
 */
@include b(avatar) {
  width: $basesize;
  height: $basesize;
  overflow: hidden;
  @include rb(avatar--round) {
    border-radius: 50%;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
