@import '../../../style/var/layout';
@import '../../Screenfull/style/index';
@import '../../Skiner/style/index';


/* ------------  顶部模块 ------------  */
@include b(header) {
  width: 100%;
  min-width: 500px;
  height: $navH;
  line-height: $navH;
  padding-left: $navH_pl;
  padding-right: $navH_pr;
  background: #252836;
  box-sizing: border-box;
  &.fl {
    float: left;
  }
  &.fr {
    float: right;
  }
  img {
    display: block;
  }
  svg {
    fill: #fff;
  }
}
