//input 相关样式
@import '../../../style/common/size/choosebtnsize';

@include b(radio) {
  .el-radio__inner{
    box-shadow: none !important;
  }

  @include b(radio__button){
    box-shadow: none !important;
    @include button-size(radio__button);
  }
  &.el-radio-group{
    line-height: $lineHeight;
    .el-radio{
      margin-left: 0;
      margin-right: $gapWidth;
    }
  }
}
