$el-dropdown_text_color: #409eff; //表头固定操作列-下拉框内文字颜色
$--color-info: #0A7AF8;

//表头固定操作列
.action-scope {
  height: inherit;
  line-height: inherit;
  font-size: 14px;
  button {
    padding: 0 10px 0 0;
    height: inherit;
    border: none;
    font-size: inherit;
    &:hover {
      color: $--color-info;
      background-color: transparent;
    }
  }
  .el-dropdown {
    margin: 0;
    line-height: 32px;
    span {
      color: $el-dropdown_text_color;
      font-size: inherit;
      font-weight: 500;
      cursor: pointer;
      margin: 0;
      padding: 0 10px;
      &:hover {
        color: $--color-info;
      }
    }
  }
}
