@import '../../../style/mixins/mixins';
@import '../../../style/config/public';
@import '../../../style/mixins/scrollbar';
@import "mixins";
@import "config";

@include b(table) {
  position: relative;
  //表格内容部分
  @include e(container) {
    position: relative;
    //表格主体部分
    .el-table {
      .el-table__header {

      }

      .cell {
        overflow: visible;
        @import "column/action-column";

        @import "cell/slot-scope";
      }

      .el-table__fixed-header-wrapper {
        z-index: 999;
        th.table-head-setting {
          padding: 0;
          height: 40px;
          .cell {
            padding: 0;
            @import "head/head-setting";
          }
        }
      }

      //内容部分滚动条设置
      .el-table__body-wrapper {
        //@include scrollbarVisible;
      }
      @include scrollbarStyle;
    }

    //表格各模块 visible 设置
    thead, th, th div, thead .cell, tbody .cell {
      overflow: visible;
    }

    //表格底部固定合计栏
    .el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td, .el-table__fixed-footer-wrapper tbody td {
      background-color: transparent;
    }

    @import "column/column";

    @import "action/action-drop";
  }

  //合计按钮控制部分
  @import "action/action-summary";

}

.el-tooltip__popper.is-dark[role="tooltip"], .el-tooltip__popper.is-light[role="tooltip"] {
  //display: none;
}

