//input 相关样式
@import '../../../style/config/public';

.ns-input {
  position: relative;
  display: inline-block;
  .el-input {
    height: 100%;
  }
  .el-textarea {
    textarea {
      height: inherit;
    }
  }
  .ns-input__icon {
    position: absolute;
    width: 35px;
    line-height: inherit;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;
    transition: all 0.3s;
    overflow: hidden;
    box-sizing: border-box;
    // 初始状态 验证显示图标 显隐/颜色
    &.error {
      display: none;
      svg.ns-svg-icon {
        color: $--color-danger;
      }
    }
    &.success {
      display: none;
      svg.ns-svg-icon {
        color: $--color-success;
      }
    }
    // 初始状态 常规显示图标 显隐
    &.normal {
      display: block;
    }
  }
}
