@import 'common/var';

@font-face {
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

.el-tree.ns-virtual-tree {
  [class^='el-icon-'],
  [class*=' el-icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'element-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .el-icon-caret-bottom:before {
    content: '\e790';
  }

  .el-icon-caret-right:before {
    content: '\e791';
  }

  .el-tree-node__content > .el-tree-node__expand-icon {
    &.ns-icon-svg,
    &.ns-icon-class {
      font-size: 14px;
      color: #999;
      margin: 0 4px;
      padding: 0 0 0 6px;
    }
  }

  .el-tree-node__content .el-checkbox {
    padding: 0 6px 0 0;
  }
}
