//合计按钮控制部分
#action-summary {
  position: absolute;
  left: 1px;
  bottom: 1px;
  height: 32px;
  line-height: 32px;
  margin: 4px 0;
  z-index: 999;
  cursor: pointer;
  background: #fff;
  span.el-dropdown-selfdefine {
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 10px;
  }
}
