@import '../../../style/mixins/mixins';
@import '../../../style/mixins/scrollbar';
@import "config";

@mixin resizable-line-show($display) {
  th.vxe-header--column:nth-last-child(2) {
    &.column-setting {
      .vxe-resizable {
        display: $display;
      }
    }
  }
}

@include b(table) {
  .vxe-table {
    //setting column  && drag menu
    th.column-setting {
      .vxe-cell {
        padding: 0 3px;
        .el-dropdown-selfdefine {
          font-size: 16px;
          padding: 0;
          cursor: pointer;
        }
      }
    }

    &.scroll--y {
      .vxe-table--fixed-right-wrapper {
        @include resizable-line-show(block);
      }
      @include resizable-line-show(none);

      th.column-setting {
        .vxe-cell {
          padding: 0 0 0 7px;
        }
      }
    }
  }
}

.column-setting-drag {
  padding: 10px 0;
  text-align: inherit;
  li {
    &.hide {
      display: none;
    }
    line-height: 28px;
    margin: 5px 0;
    min-width: $drap-label__min-width + 20px + 20px;
    label {
      overflow: hidden;
      max-width: $drap-label__max-width;
      min-width: $drap-label__min-width;
      margin-right: 10px;
    }
  }
  .content {
    max-height: $drap-content__max-height;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 14px;
    @include scrollbarVisible;
    i.iconfont {
      font-size: inherit;
    }
  }
  .submit {
    width: 100%;
    text-align: center;
    .ns-button {
      width: 120px;
    }
  }
}
