@import 'config';

//action area in column for table
.action-scope {
  height: inherit;
  font-size: 12px;
  button.ns-button--normal {
    padding: 0 10px 0 0;
    border: none;
    font-size: inherit;
    &:hover {
      color: $action-scope_text__hovercolor;
      background-color: transparent;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .el-dropdown {
    margin: 0;
    vertical-align: middle;
    font-size: inherit;
    span {
      color: $action-scope_text__color;
      font-weight: 500;
      font-size: inherit;
      cursor: pointer;
      margin: 0;
      padding: 0;
      line-height: inherit;
      &:hover {
        color: $action-scope_text__hovercolor;
      }
    }
  }
}
