@import '../../../style/mixins/mixins';
@import '../../../style/mixins/scrollbar';
@import 'config';

@mixin resizable-line-show($display) {
  th.vxe-header--column:nth-last-child(2) {
    &.column-setting {
      .vxe-resizable {
        display: $display;
      }
    }
  }
}

@include b(table) {
  .vxe-table {
    //setting column  && drag menu
    th.column-setting {
      .vxe-cell {
        padding: 0 3px;

        .el-dropdown-selfdefine {
          font-size: 16px;
          padding: 0;
          cursor: pointer;
        }
      }
    }

    &.scroll--y {
      .vxe-table--fixed-right-wrapper {
        @include resizable-line-show(block);
      }

      @include resizable-line-show(none);

      th.column-setting {
        .vxe-cell {
          padding: 0 0 0 7px;
        }
      }
    }
  }
}

.column-setting-drag {
  padding: 15px 0 10px 0;
  text-align: inherit;
  width: $drap-content__width;

  li {
    &.hide {
      display: none;
    }
    line-height: 28px;
    margin: 5px 0;
    padding: 0 5px 0 20px;

    label {
      overflow: hidden;
      margin-right: 10px;
    }

    i {
      margin-right: 0;
    }
  }

  //列表设置筛选搜索框
  .column-setting-head {
    padding: 0 10px;
    box-sizing: border-box;
    p.column-setting-reset {
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .column-setting-content {
    max-height: $drap-content__max-height;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 14px;
    @include scrollbarVisibleHover;

    i.iconfont {
      font-size: inherit;
    }
  }

  .column-setting-submit {
    width: 100%;
    text-align: center;

    .ns-button {
      width: 120px;
    }
  }
}
