@import '../../../style/mixins/mixins';
@import 'config';

$cell-height: 40px;

//summary action area
@include b(table) {
  .checkbox-area {
    position: absolute;
    background: transparent;
    left: 0;
    top: 0;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;
    &.isText {
      left: 4px;
    }

    span.el-dropdown-selfdefine {
      display: inline-block;
      height: $cell-height;
      line-height: $cell-height;
      font-size: $action-summary_fs;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}
