//@import '~vxe-table/lib/index.css';
// import 'vxe-table-plugin-element/dist/style.css';
@import '../../../style/mixins/mixins';

$grid-border__color: #e8e8e8; //边框色

@include b(table) {
  &.vxe-table {
    // 1、==== border style change ====
    border-color: $grid-border__color;

    &:after,
    &:before {
      background-color: $grid-border__color;
    }

    .vxe-table--fixed-left-wrapper:before,
    .vxe-table--fixed-right-wrapper:before {
      border-color: $grid-border__color;
    }

    //内容部分下边框
    .vxe-body--row .vxe-body--column {
      border-bottom: 1px solid #ebeef5;
    }

    // 2、==== background style change ====
    th.col--gutter {
      background-color: #ebedef;
    }

    //表头
    .vxe-header--column {
      background-color: #ebedef;
      //表格分割线 - 高度/颜色
      .vxe-resizable.is--line:before {
        height: 100%;
        background-color: #d6d8da;
      }
      //表格分割线 - 高度
      .vxe-resizable {
        height: inherit;
      }
    }

    .vxe-table--header-wrapper {
      background-color: #ebedef;
    }

    //修复多选列-全选框半选状态下伪类显示异常
    .vxe-checkbox.is--indeterminate > input:not(:checked) + .vxe-checkbox--icon:before {
      left: 0;
    }

    .vxe-cell a.cell-link {
      cursor: pointer;
    }

    @import 'loading';
    @import 'error-prompt';
  }
}

@import 'action-scope';
@import 'action-drop';
