//@import '~vxe-table/lib/index.css';
// import 'vxe-table-plugin-element/dist/style.css';
@import 'config';
@import '../../../style/mixins/mixins';

@include b(table) {
  position: relative;

  //main - table content
  .vxe-table {
    //连接单元格手型
    .vxe-cell a.cell-link {
      cursor: pointer;
    }

    //屏蔽自带 loading
    .vxe-table--loading {
      display: none !important;
    }

    //空结果
    .vxe-table--empty-content p {
      font-size: 13px;
      color: $error-prompt_subcolor;
      margin-top: 10px;
    }

    //调整表格必填项 - 表头标识图标及伪类
    .vxe-header--column .vxe-required-icon {
      vertical-align: text-top;
    }

    .column-required.column-slot {
      & > .c--tooltip {
        &::before {
          content: '*';
          position: relative;
          display: inline-block;
          color: #f56c6c;
          line-height: 16px;
          font-size: 16px;
          vertical-align: text-top;
        }
      }
    }
  }

  //error / loading identifier content
  @import 'identifier';
}

//表格操作列
@import 'action-scope';
//表头设置
@import 'action-drop';
//合计操作
@import 'action-summary';
