.vxe-table--loading {
  background-color: rgba(255, 255, 255, 0.6);
  .vxe-table--spinner {
    width: 75px;
    height: 75px;
    &:before {
      content: none;
    }
    &:after {
      background: url('../../../assets/loading.gif') no-repeat;
      background-size: 100% 100%;
      border-radius: 2%;
      //animation: 5s ease-in-out infinite;
      animation: none;
      opacity: 0.6;
    }
  }
}
